// --breakpoint-xs: 0;
// --breakpoint-sm: 576px;
// --breakpoint-md: 768px;
// --breakpoint-lg: 992px;
// --breakpoint-xl: 1200px;

$break-sm: 576px;
$break-md: 768px;
$break-lg: 992px;
$break-xl: 1200px;

@mixin break-sm {
    @media(min-width: $break-sm) { @content; }
}
@mixin break-md {
    @media(min-width: $break-md) { @content; }
}
@mixin break-lg {
    @media(min-width: $break-lg) { @content; }
}
@mixin break-xl {
    @media(min-width: $break-xl) { @content; }
}

:root {
    --corporateHeaderNavigationHeight: 80px;
    --corporateSidebarNavigationWidth: 75px;

    --corporateHeaderNavigationBgColor: white;
    --corporateHeaderNavigationBgColorDark: black;
    --corporateSidebarNavigationBgColor: white;
    --corporateMainBgColor: rgb(245, 245, 245);
    --corporateMainBgColorDark: rgb(50, 50, 50);

    --corporateHeaderNavigationZIndex: 100;
    --corporateSidebarNavigationZIndex: 90;
}

.corporate.header-navigation {
    position: fixed;
    top: 0px;
    left: 0px;
    z-index: var(--corporateHeaderNavigationZIndex);
    width: 100%;
    height: var(--corporateHeaderNavigationHeight);

    background-color: var(--corporateHeaderNavigationBgColor);

    &.darkTheme {
        background-color: var(--corporateHeaderNavigationBgColorDark);
        button {
            color: white !important;
        }
    }
}

.corporate.sidebar-navigation {
    position: fixed;
    top: var(--corporateHeaderNavigationHeight);
    left: 0px;
    width: var(--corporateSidebarNavigationWidth);
    height: calc(100vh - var(--corporateHeaderNavigationHeight));
    z-index: var(--corporateSidebarNavigationZIndex);
    overflow-y: auto;

    display: flex;
    flex-direction: column;

    background-color: var(--corporateSidebarNavigationBgColor);

    &.darkTheme {
        border-right: 1px solid black;
        background-color: var(--corporateMainBgColorDark);
        button {
            color: white;
        }
    }

    button.active {
        background-color: rgb(3, 161, 235) !important;
        color: white;
    }

    a {
        text-decoration: none;
        color: black;
    }
}

.corporate.main-content {
    min-height: 100vh;
    padding: var(--corporateHeaderNavigationHeight) 0px 0px var(--corporateSidebarNavigationWidth);

    background-color: var(--corporateMainBgColor);

    &.darkTheme {
        background-color: var(--corporateMainBgColorDark);
    }

    .startIndicator {
        position: absolute;
        top: 0px;
        color: rgba(255, 255, 255, 0.5);
        z-index: 1;
        writing-mode: vertical-rl;
        text-orientation: mixed;
        font-size: 12px;
        font-weight: 800;
        text-align: center;

        &.startIndicator--oldest {
            left: 0px;
            transform: translateX(-60%) rotate(180deg);
        }
        &.startIndicator--newest {
            right: 0px;
            transform: translateX(60%) rotate(180deg);
        }
    }
}
