.color-white { color: white !important; }
.color-white-09 { color: rgba(255, 255, 255, 0.9) !important; }
.color-white-08 { color: rgba(255, 255, 255, 0.8) !important; }
.color-white-07 { color: rgba(255, 255, 255, 0.7) !important; }
.color-white-06 { color: rgba(255, 255, 255, 0.6) !important; }
.color-white-05 { color: rgba(255, 255, 255, 0.5) !important; }
.color-white-04 { color: rgba(255, 255, 255, 0.4) !important; }
.color-white-03 { color: rgba(255, 255, 255, 0.3) !important; }
.color-white-02 { color: rgba(255, 255, 255, 0.2) !important; }
.color-white-01 { color: rgba(255, 255, 255, 0.1) !important; }

.color-black { color: black !important; }
.color-black-09 { color:  rgba(0, 0, 0, 0.9) !important; }
.color-black-08 { color:  rgba(0, 0, 0, 0.8) !important; }
.color-black-07 { color:  rgba(0, 0, 0, 0.7) !important; }
.color-black-06 { color:  rgba(0, 0, 0, 0.6) !important; }
.color-black-05 { color:  rgba(0, 0, 0, 0.5) !important; }
.color-black-04 { color:  rgba(0, 0, 0, 0.4) !important; }
.color-black-03 { color:  rgba(0, 0, 0, 0.3) !important; }
.color-black-02 { color:  rgba(0, 0, 0, 0.2) !important; }
.color-black-01 { color:  rgba(0, 0, 0, 0.1) !important; }

.font-10 { font-size: 10px !important; }
.font-12 { font-size: 12px !important; }
.font-14 { font-size: 14px !important; }
.font-16 { font-size: 16px !important; }
.font-18 { font-size: 18px !important; }
.font-20 { font-size: 20px !important; }
.font-22 { font-size: 22px !important; }
.font-24 { font-size: 24px !important; }
.font-26 { font-size: 26px !important; }
.font-28 { font-size: 28px !important; }
.font-30 { font-size: 30px !important; }

.pageMinWidth {
    min-width: var(--pageMinWidth);
}

.overflowWrapper {
    overflow-x: hidden;
}

.button--transparent {
    border: none;
    background-color: transparent;
    display: flex;
    align-items: center;
    justify-content: center;
}

/* .button--transparent:focus {
    outline: none;
} */

.shadow--basic {
    box-shadow: 0 0 10px 0 rgba(0, 0, 0, 0.1);
}