$break-sm: 576px;
$break-md: 768px;
$break-lg: 992px;
$break-xl: 1200px;

@mixin break-sm {
    @media(min-width: $break-sm) { @content; }
}
@mixin break-md {
    @media(min-width: $break-md) { @content; }
}
@mixin break-lg {
    @media(min-width: $break-lg) { @content; }
}
@mixin break-xl {
    @media(min-width: $break-xl) { @content; }
}



:root {
    // --breakpoint-xs: 0;
    // --breakpoint-sm: 576px;
    // --breakpoint-md: 768px;
    // --breakpoint-lg: 992px;
    // --breakpoint-xl: 1200px;

    --pageMinWidth: 350px;

    --headerNavigationHeight: 50px;
    --sidebarNavigationWdith: 75px;

    --headerNavigationBgColor: white;
    --sidebarNavigationBgColor: white;
    --mainBgColor: rgb(245, 245, 245);

    --headerNavigationZIndex: 10000;
    --sidebarNavigationZIndex: 9980;
}

.header-navigation {
    position: fixed;
    top: 0px;
    left: 0px;
    z-index: var(--headerNavigationZIndex);
    width: 100%;
    height: var(--headerNavigationHeight);

    background-color: var(--headerNavigationBgColor);

}

.sidebar-navigation {
    position: fixed;
    top: var(--headerNavigationHeight);
    left: 0px;
    width: var(--sidebarNavigationWdith);
    height: calc(100vh - var(--headerNavigationHeight));
    // z-index: var(--sidebarNavigationZIndex);
    z-index: 9999;
    overflow-y: auto;

    background-color: var(--sidebarNavigationBgColor);

    a {
        text-decoration: none;
        color: black;
    }
}

.main-content {
    min-height: 100vh;

    padding: var(--headerNavigationHeight) 0px 0px var(--sidebarNavigationWdith);

    background-color: var(--mainBgColor);
}

.shadow--basic {
    box-shadow: 0 0 10px 0 rgba(0, 0, 0, 0.1);
}