.menu-item-image {
    position: absolute;
    top: 50%;
    left: 50%;
    transform: translate(-50%, -50%);
}

.menu-item-image.menu-item-image--landscape {
    width: auto;
    height: 105%;
}
.menu-item-image.menu-item-image--portrait {
    width: 105%;
    height: auto;
}