:root {
  --corporateHeaderNavigationHeight: 80px;
  --corporateSidebarNavigationWidth: 75px;
  --corporateHeaderNavigationBgColor: white;
  --corporateHeaderNavigationBgColorDark: black;
  --corporateSidebarNavigationBgColor: white;
  --corporateMainBgColor: rgb(245, 245, 245);
  --corporateMainBgColorDark: rgb(50, 50, 50);
  --corporateHeaderNavigationZIndex: 10000;
  --corporateSidebarNavigationZIndex: 9990;
}

.corporate.header-navigation {
  position: fixed;
  top: 0px;
  left: 0px;
  z-index: var(--corporateHeaderNavigationZIndex);
  width: 100%;
  height: var(--corporateHeaderNavigationHeight);
  background-color: var(--corporateHeaderNavigationBgColor);
}

.corporate.header-navigation.darkTheme {
  background-color: var(--corporateHeaderNavigationBgColorDark);
}

.corporate.header-navigation.darkTheme button {
  color: white !important;
}

.corporate.sidebar-navigation {
  position: fixed;
  top: var(--corporateHeaderNavigationHeight);
  left: 0px;
  width: var(--corporateSidebarNavigationWidth);
  height: calc(100vh - var(--corporateHeaderNavigationHeight));
  z-index: var(--corporateSidebarNavigationZIndex);
  overflow-y: auto;
  display: flex;
  flex-direction: column;
  background-color: var(--corporateSidebarNavigationBgColor);
}

.corporate.sidebar-navigation.darkTheme {
  border-right: 1px solid black;
  background-color: var(--corporateMainBgColorDark);
}

.corporate.sidebar-navigation.darkTheme button {
  color: white;
}

.corporate.sidebar-navigation button.active {
  background-color: #03a1eb !important;
  color: white;
}

.corporate.sidebar-navigation a {
  text-decoration: none;
  color: black;
}

.corporate.main-content {
  min-height: 100vh;
  padding: var(--corporateHeaderNavigationHeight) 0px 0px var(--corporateSidebarNavigationWidth);
  background-color: var(--corporateMainBgColor);
}

.corporate.main-content.darkTheme {
  background-color: var(--corporateMainBgColorDark);
}

.corporate.main-content .startIndicator {
  position: absolute;
  top: 0px;
  color: rgba(255, 255, 255, 0.5);
  z-index: 1;
  writing-mode: vertical-rl;
  text-orientation: mixed;
  font-size: 12px;
  font-weight: 800;
  text-align: center;
}

.corporate.main-content .startIndicator.startIndicator--oldest {
  left: 0px;
  transform: translateX(-60%) rotate(180deg);
}

.corporate.main-content .startIndicator.startIndicator--newest {
  right: 0px;
  transform: translateX(60%) rotate(180deg);
}
