@media (min-width: 440px) {
  .col-xs-sm-6 {
    flex: 0 0 50%;
  }
}

@media (min-width: 576px) {
  .col-sm-12 {
    flex: 0 0 100% !important;
  }
}

@media (min-width: 675px) {
  .col-sm-md-6 {
    flex: 0 0 50% !important;
  }
}

@media (min-width: 1650px) {
  .col-xxl-2 {
    flex: 0 0 16.66666666666666666666% !important;
  }
}

@media (min-width: 2400px) {
  .col-xxl-2 {
    flex: 0 0 10% !important;
  }
}

:root {
  --customerHeaderNavigationZIndex: 10000;
  --customerSidebarNavigationZIndex: 9990;
  --customerHeaderNavigationHeight: 80px;
  --customerSidebarNavigationWidth: 200px;
  --customerHeaderNavigationBgColor: rgb(61, 61, 61);
  --customerSidebarNavigationBgColor: rgb(61, 61, 61);
  --customerMainBgColor: linear-gradient(75deg, rgb(225, 225, 225), rgb(95, 95, 95));
}

body.sidebar-open {
  overflow-y: hidden !important;
}

@media (min-width: 576px) {
  body.sidebar-open {
    overflow-y: auto !important;
  }
}

.customer.header-navigation {
  position: fixed;
  top: 0px;
  left: 0px;
  z-index: var(--customerHeaderNavigationZIndex);
  width: 100%;
  height: var(--customerHeaderNavigationHeight);
  background-color: var(--customerHeaderNavigationBgColor);
  background-color: var(--dark);
  background-color: black;
}

.customer.header-navigation button {
  color: white;
}

.customer.sidebar-navigation {
  position: fixed;
  top: var(--customerHeaderNavigationHeight);
  left: calc(0px - var(--customerSidebarNavigationWidth));
  z-index: var(--customerSidebarNavigationZIndex);
  width: var(--customerSidebarNavigationWidth);
  height: calc(100vh - var(--customerHeaderNavigationHeight));
  overflow-y: auto;
  display: flex;
  flex-direction: column;
  background-color: var(--customerSidebarNavigationBgColor);
  transition: 0.2s left;
}

@media (min-width: 576px) {
  .customer.sidebar-navigation {
    left: 0px;
  }
}

.customer.sidebar-navigation button {
  color: white;
}

.customer.sidebar-navigation.open {
  left: 0px;
}

.customer.sidebar-navigation button.active {
  background-color: #03a1eb !important;
}

.customer.main-content {
  min-height: 100vh;
  padding: var(--customerHeaderNavigationHeight) 0px 0px 0px;
  background: var(--customerMainBgColor);
}

@media (min-width: 576px) {
  .customer.main-content {
    padding: var(--customerHeaderNavigationHeight) 0px 0px var(--customerSidebarNavigationWidth);
  }
}
