$break-sm: 576px;
$break-md: 768px;
$break-lg: 992px;
$break-xl: 1200px;

@mixin break-sm {
    @media(min-width: $break-sm) { @content; }
}
@mixin break-md {
    @media(min-width: $break-md) { @content; }
}
@mixin break-lg {
    @media(min-width: $break-lg) { @content; }
}
@mixin break-xl {
    @media(min-width: $break-xl) { @content; }
}

:root {
    --corporateMainContentSidebarNavigationWidth: 200px;
    --mainContentHeaderZIndex: 9950;
    --mainContentSidebarZIndex: 9970;
}


.menubuilder {
    .container-fluid {
        max-width: 1500px !important;
    }

    .container--outer {
        padding: 0px 0px 0px 0px;
        @include break-sm {
            padding: 0px 0px 0px var(--corporateMainContentSidebarNavigationWidth);
        }
    }

    .main-content-sidebar {
        position: fixed;
        top: var(--corporateHeaderNavigationHeight);
        left: calc(var(--corporateSidebarNavigationWidth) - var(--corporateMainContentSidebarNavigationWidth));
        // left: var(--corporateSidebarNavigationWidth);
        z-index: var(--mainContentSidebarZIndex);
    
        width: var(--corporateMainContentSidebarNavigationWidth);
        height: calc(100% - var(--corporateHeaderNavigationHeight));
        // overflow-y: auto;
    
        background-color: var(--customerSidebarNavigationBgColor);

        @include break-sm {
            left: var(--corporateSidebarNavigationWidth);
        }

        &.open {
            left: var(--corporateSidebarNavigationWidth);
        }
    
        button {
            color: white;
        }
    
        button.active {
            background-color: rgb(3, 161, 235) !important;
        }
    }

    .main-content-header {
        position: fixed;
        top: var(--headerNavigationHeight);
        left: var(--corporateSidebarNavigationWidth);
        z-index: var(--mainContentHeaderZIndex);
    
        width: calc(100% - var(--corporateSidebarNavigationWidth));
        background-color: var(--corporateMainBgColor); // apply this later

        @include break-sm {
            left: calc(var(--corporateSidebarNavigationWidth) + var(--corporateMainContentSidebarNavigationWidth));
            width: calc(100% - var(--corporateSidebarNavigationWidth) - var(--corporateMainContentSidebarNavigationWidth));
        }
    }
    
    .main-content-content {
        padding-top: 120px;
    }
}

