.menuselector .container-fluid {
  max-width: 1500px !important;
}

.menuselector .container--outer {
  padding: 0px 0px 0px 20px;
}

@media (min-width: 576px) {
  .menuselector .container--outer {
    padding: 0px 0px 0px var(--corporateMainContentSidebarNavigationWidth);
  }
}

.menuselector .main-content-sidebar {
  position: fixed;
  top: var(--corporateHeaderNavigationHeight);
  left: calc(var(--corporateSidebarNavigationWidth) - var(--corporateMainContentSidebarNavigationWidth));
  z-index: var(--mainContentSidebarZIndex);
  width: calc(var(--corporateMainContentSidebarNavigationWidth) + 20px);
  height: calc(100% - var(--corporateHeaderNavigationHeight));
  background-color: var(--customerSidebarNavigationBgColor);
  transition: 0.2s left;
}

@media (min-width: 576px) {
  .menuselector .main-content-sidebar {
    left: var(--corporateSidebarNavigationWidth);
    width: var(--corporateMainContentSidebarNavigationWidth);
  }
}

.menuselector .main-content-sidebar.open {
  left: var(--corporateSidebarNavigationWidth);
}

.menuselector .main-content-sidebar .sidebarcontents {
  height: 100%;
  overflow-y: auto;
  flex: 1 1 auto;
}

.menuselector .main-content-sidebar .sidebarcontents button {
  background-color: var(--danger) !important;
}

.menuselector .main-content-sidebar .sidebarcontents button:hover {
  filter: brightness(90%);
}

.menuselector .main-content-sidebar .sidebarcontents button:disabled {
  filter: brightness(70%);
}

.menuselector .main-content-sidebar .sidebarexpand {
  flex: 0 0 20px;
  width: 20px;
  height: 100%;
  overflow: hidden;
  background-color: black;
}

.menuselector .main-content-sidebar .sidebarexpand .sidewaystext {
  writing-mode: vertical-rl;
  text-orientation: mixed;
  transform: rotate(180deg);
  display: flex;
  align-items: center;
}

.menuselector .main-content-header {
  position: fixed;
  top: var(--headerNavigationHeight);
  left: calc(var(--corporateSidebarNavigationWidth) + 20px);
  z-index: var(--mainContentHeaderZIndex);
  min-width: calc(var(--pageMinWidth) - var(--corporateSidebarNavigationWidth) - 20px);
  width: calc(100% - var(--corporateSidebarNavigationWidth) - 20px);
  background-color: var(--corporateMainBgColor);
}

@media (min-width: 576px) {
  .menuselector .main-content-header {
    left: calc(var(--corporateSidebarNavigationWidth) + var(--corporateMainContentSidebarNavigationWidth));
    width: calc(100% - var(--corporateSidebarNavigationWidth) - var(--corporateMainContentSidebarNavigationWidth));
  }
}

.menuselector .main-content-header button {
  background-color: var(--danger) !important;
}

.menuselector .main-content-header button:hover {
  filter: brightness(90%);
}

.menuselector .main-content-header button:disabled {
  filter: brightness(70%);
}

.menuselector .main-content-content {
  padding-top: 120px;
}

.menuselector .main-content-content button.button--transparent {
  border: 3px solid transparent;
  position: relative;
  overflow: hidden;
}

.menuselector .main-content-content button.button--transparent.active {
  border-color: #03a1eb !important;
  background-color: #03a1eb !important;
}

.menuselector .main-content-content button.button--transparent.active .background {
  position: absolute;
  top: 50%;
  left: 50%;
  transform: translate(-50%, -50%);
  width: 150%;
  padding-top: 300%;
  background-color: var(--secondary);
  z-index: 5;
}

.menuselector .main-content-content button.button--transparent.published {
  background-color: transparent !important;
  border-color: #a826e4;
}

.menuselector .main-content-content button.button--transparent.published .background {
  position: absolute;
  top: 50%;
  left: 50%;
  transform: translate(-50%, -50%);
  width: 150%;
  padding-top: 300%;
  background: linear-gradient(0deg, #1414bc, #ff3131);
  animation-name: gradientmagic;
  animation-duration: 5s;
  animation-iteration-count: infinite;
  animation-timing-function: linear;
  z-index: 5;
}

@keyframes gradientmagic {
  0% {
    transform: translate(-50%, -50%) rotate(0deg) scale(2);
  }
  50% {
    transform: translate(-50%, -50%) rotate(180deg) scale(3);
  }
  100% {
    transform: translate(-50%, -50%) rotate(360deg) scale(1);
  }
}
