:root {
  --corporateMainContentSidebarNavigationWidth: 200px;
  --mainContentHeaderZIndex: 9950;
  --mainContentSidebarZIndex: 9970;
}

.menubuilder .container-fluid {
  max-width: 1500px !important;
}

.menubuilder .container--outer {
  padding: 0px 0px 0px 0px;
}

@media (min-width: 576px) {
  .menubuilder .container--outer {
    padding: 0px 0px 0px var(--corporateMainContentSidebarNavigationWidth);
  }
}

.menubuilder .main-content-sidebar {
  position: fixed;
  top: var(--corporateHeaderNavigationHeight);
  left: calc(var(--corporateSidebarNavigationWidth) - var(--corporateMainContentSidebarNavigationWidth));
  z-index: var(--mainContentSidebarZIndex);
  width: var(--corporateMainContentSidebarNavigationWidth);
  height: calc(100% - var(--corporateHeaderNavigationHeight));
  background-color: var(--customerSidebarNavigationBgColor);
}

@media (min-width: 576px) {
  .menubuilder .main-content-sidebar {
    left: var(--corporateSidebarNavigationWidth);
  }
}

.menubuilder .main-content-sidebar.open {
  left: var(--corporateSidebarNavigationWidth);
}

.menubuilder .main-content-sidebar button {
  color: white;
}

.menubuilder .main-content-sidebar button.active {
  background-color: #03a1eb !important;
}

.menubuilder .main-content-header {
  position: fixed;
  top: var(--headerNavigationHeight);
  left: var(--corporateSidebarNavigationWidth);
  z-index: var(--mainContentHeaderZIndex);
  width: calc(100% - var(--corporateSidebarNavigationWidth));
  background-color: var(--corporateMainBgColor);
}

@media (min-width: 576px) {
  .menubuilder .main-content-header {
    left: calc(var(--corporateSidebarNavigationWidth) + var(--corporateMainContentSidebarNavigationWidth));
    width: calc(100% - var(--corporateSidebarNavigationWidth) - var(--corporateMainContentSidebarNavigationWidth));
  }
}

.menubuilder .main-content-content {
  padding-top: 120px;
}
