$break-sm: 576px;
$break-md: 768px;
$break-lg: 992px;
$break-xl: 1200px;

@mixin break-sm {
    @media(min-width: $break-sm) { @content; }
}
@mixin break-md {
    @media(min-width: $break-md) { @content; }
}
@mixin break-lg {
    @media(min-width: $break-lg) { @content; }
}
@mixin break-xl {
    @media(min-width: $break-xl) { @content; }
}

.menuselector {
    .container-fluid {
        max-width: 1500px !important;
    }

    .container--outer {
        padding: 0px 0px 0px 0px;
        @include break-sm {
            padding: 0px 0px 0px var(--corporateMainContentSidebarNavigationWidth);
        }
    }

    .main-content-sidebar {
        position: fixed;
        top: var(--corporateHeaderNavigationHeight);
        left: calc(var(--corporateSidebarNavigationWidth) - var(--corporateMainContentSidebarNavigationWidth));
        z-index: var(--mainContentSidebarZIndex);
    
        width: var(--corporateMainContentSidebarNavigationWidth);
        height: calc(100% - var(--corporateHeaderNavigationHeight));
        // overflow-y: auto;
    
        background-color: var(--customerSidebarNavigationBgColor);

        @include break-sm {
            left: var(--corporateSidebarNavigationWidth);
        }

        &.open {
            left: var(--corporateSidebarNavigationWidth);
        }
    }

    .main-content-header {
        position: fixed;
        top: var(--headerNavigationHeight);
        left: calc(var(--corporateSidebarNavigationWidth));
        z-index: var(--mainContentHeaderZIndex);
    
        width: calc(100% - var(--corporateSidebarNavigationWidth));

        background-color: var(--corporateMainBgColor); // apply this later

        @include break-sm {
            left: calc(var(--corporateSidebarNavigationWidth) + var(--corporateMainContentSidebarNavigationWidth));
            width: calc(100% - var(--corporateSidebarNavigationWidth) - var(--corporateMainContentSidebarNavigationWidth));
        }
    }

    .main-content-content {
        padding-top: 120px;

        button.button--transparent {
            border: 3px solid transparent;
            position: relative;
            overflow: hidden;
            &.active {
                border-color: rgb(3, 161, 235) !important;
                background-color: rgb(3, 161, 235) !important;
            }
            &.published {
                background-color: transparent !important;
                border-color: rgb(168, 38, 228);
                .background {
                    position: absolute;
                    top: 50%;
                    left: 50%;
                    transform: translate(-50%, -50%);

                    width: 150%;
                    padding-top: 300%;

                    background: linear-gradient(0deg, blue, red);
                    animation-name: gradientmagic;
                    animation-duration: 5s;
                    animation-iteration-count: infinite;
                    animation-timing-function: linear;

                    // border: 1px solid white;
                    z-index: 5;
                }
            }
        }
    }
    
}

@keyframes gradientmagic {
    0% {
        transform: translate(-50%, -50%) rotate(0deg);
    }
    50% {
        transform: translate(-50%, -50%) rotate(180deg);
    }
    100% {
        transform: translate(-50%, -50%) rotate(360deg);
    }
}