:root {
  --corporateMainContentSidebarNavigationWidth: 200px;
  --mainContentHeaderZIndex: 9950;
  --mainContentSidebarZIndex: 9970;
}

.menubuilder .container-fluid {
  max-width: 1500px !important;
}

.menubuilder .container--outer {
  padding: 0px 0px 0px 20px;
}

@media (min-width: 576px) {
  .menubuilder .container--outer {
    padding: 0px 0px 0px var(--corporateMainContentSidebarNavigationWidth);
  }
}

.menubuilder .main-content-sidebar {
  position: fixed;
  top: var(--corporateHeaderNavigationHeight);
  left: calc(var(--corporateSidebarNavigationWidth) - var(--corporateMainContentSidebarNavigationWidth));
  z-index: var(--mainContentSidebarZIndex);
  width: calc(var(--corporateMainContentSidebarNavigationWidth) + 20px);
  height: calc(100% - var(--corporateHeaderNavigationHeight));
  overflow: hidden;
  background-color: var(--customerSidebarNavigationBgColor);
  transition: 0.2s left;
}

@media (min-width: 576px) {
  .menubuilder .main-content-sidebar {
    left: var(--corporateSidebarNavigationWidth);
    width: var(--corporateMainContentSidebarNavigationWidth);
  }
}

.menubuilder .main-content-sidebar.open {
  left: var(--corporateSidebarNavigationWidth);
}

.menubuilder .main-content-sidebar button {
  color: white;
}

.menubuilder .main-content-sidebar button.active {
  background-color: #03a1eb !important;
}

.menubuilder .main-content-sidebar .sidebarcontents {
  height: 100%;
  overflow-y: auto;
  flex: 1 1 auto;
}

.menubuilder .main-content-sidebar .sidebarexpand {
  flex: 0 0 20px;
  width: 20px;
  height: 100%;
  overflow: hidden;
  background-color: black;
}

.menubuilder .main-content-sidebar .sidebarexpand .sidewaystext {
  writing-mode: vertical-rl;
  text-orientation: mixed;
  transform: rotate(180deg);
  display: flex;
  align-items: center;
}

.menubuilder .main-content-header {
  position: fixed;
  top: var(--headerNavigationHeight);
  left: calc(var(--corporateSidebarNavigationWidth) + 20px);
  z-index: var(--mainContentHeaderZIndex);
  width: calc(100% - var(--corporateSidebarNavigationWidth) - 20px);
  background-color: var(--corporateMainBgColor);
}

@media (min-width: 576px) {
  .menubuilder .main-content-header {
    left: calc(var(--corporateSidebarNavigationWidth) + var(--corporateMainContentSidebarNavigationWidth));
    width: calc(100% - var(--corporateSidebarNavigationWidth) - var(--corporateMainContentSidebarNavigationWidth));
  }
}

.menubuilder .main-content-content {
  padding-top: 120px;
}
