.homepage {
    min-height: 100vh;
    display: flex;
    flex-direction: column;
    background-color: rgb(245, 245, 245);

    header {
        position: relative;
        z-index: 1;

        .imagecontainer {
            position: absolute;
            top: 0px;
            left: 50%;
            transform: translateX(-50%);
            width: 100%;
            z-index: -1;
            max-width: 1500px;
            height: 100%;
            overflow: hidden;
            display: flex;
            img {
                position: absolute;
                top: 50%;
                transform: translateY(-50%);
                filter: brightness(50%);
            }
        }
        .buttonbar {
            background-color: rgba(255, 255, 255, 0.9);
        }
    }

    // main {

    // }

    // footer {

    // }
}